<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614217954746-deg74p942f46ahfsv5ksab3vooprtla5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614217954746-deg74p942f46ahfsv5ksab3vooprtla5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>614217954746-ejhtqkr8ianjd14f2da4um0okmbogipa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyClnVZtRhsgJoqQAsu4r3-5PLUynWvHPiw</string>
	<key>GCM_SENDER_ID</key>
	<string>614217954746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beebuck</string>
	<key>PROJECT_ID</key>
	<string>beebuck-testing</string>
	<key>STORAGE_BUCKET</key>
	<string>beebuck-testing.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614217954746:ios:c153aa9f609608b8175983</string>
	<key>DATABASE_URL</key>
	<string>https://beebuck-testing.firebaseio.com</string>
</dict>
</plist>